{% extends 'base.html' %}
{% block title %}会員登録{% endblock %}

{% block main %}
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h4>会員登録</h4>
        </div>
        <div class="card-body">
          <form method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
            {% csrf_token %}
            <input type="text" name="username" class="form-control my-4" placeholder="ユーザー名" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
            {% for error in form.username.errors %}
            <div class="mbn-2 small text-danger d-block text-start">{{ error }}</div>
            {% endfor %}
            <input type="password" name="password1" class="form-control mt-4" placeholder="パスワード" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">
            {% for error in form.password1.errors %}
            <div class="mbn-2 small text-danger d-block text-start">{{ error }}</div>
            {% endfor %}
            <input type="password" name="password2" class="form-control mt-4" placeholder="パスワード確認用" value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
            {% for error in form.password2.errors %}
            <div class="mbn-2 small text-danger d-block text-start">{{ error }}</div>
            {% endfor %}
            <small class="mb-2 d-block text-start">パスワードは8文字以上で設定してください。</small>
            <button type="submit" class="btn btn-success m-2">アカウント作成</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}