{% extends "base.html" %}
{% load todo_template_filter %}
{% block title %}タスク編集{% endblock %}

{% block main %}
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-8">
      <a href="{% url 'top' %}" class="btn btn-primary mb-3">戻る</a>
      <div class="card">
        <div class="card-header text-center">
          <h4>タスク編集</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="task">タスク<span class="text-primary ml-3">※必須</span></label>
              <input type="text" class="form-control" id="task" name="task" value="{{ form.task.value }}">
            </div>
            {% for error in form.task.errors %}
            <div id="title-error" class="text-danger mb-3 error-msg">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
              <label for="memo">メモ</label>
              <textarea class="form-control" id="memo" name="memo" rows="3">{{ form.memo.value|default_if_none:''}}</textarea>
            </div>
            {% for error in form.memo.errors %}
            <div id="title-error" class="text-danger mb-3 error-msg">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
              <label for="due_date">期日<span class="text-primary ml-3">※必須</span></label>
              <input type="date" class="form-control" id="due_date" name="due_date" value="{{ form.due_date.value|to_date }}">
            </div>
            {% for error in form.due_date.errors %}
            <div id="title-error" class="text-danger mb-3 error-msg">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
              <label for="category">カテゴリ<span class="text-primary ml-3">※必須</span></label>
              <select class="form-control" id="category" name="category">
                <option value="">選択してください</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id|to_string == form.category.value|to_string %}selected{% endif %}>{{ category.category_name }}</option>
                {% endfor %}
              </select>
            </div>
            {% for error in form.category.errors %}
            <div id="title-error" class="text-danger mb-3 error-msg">
                {{ error }}
            </div>
            {% endfor %}         
            <div class="form-group">
              <label for="status">ステータス<span class="text-primary ml-3">※必須</span></label>
              <select class="form-control" id="status" name="status">
                <option value="">選択してください</option>
                <option value="0" {% if form.status.value|to_string == '0' %}selected{% endif %}>未完了</option>
                <option value="1" {% if form.status.value|to_string == '1' %}selected{% endif %}>完了</option>
              </select>
            </div>
            {% for error in form.status.errors %}
            <div id="title-error" class="text-danger mb-3 error-msg">
                {{ error }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">更新</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}