{% extends "base.html" %}
{% block title %}TODOトップ{% endblock %}

{% block main %}
<div class="container mt-5">
  <h2 class="text-center"> {{ request.user.username }}さんのタスク一覧</h2>
  <a href="{% url 'create_task' %}" class="btn btn-primary mb-3">タスク登録</a>
  <a href="{% url 'logout' %}" id="logout" class="btn btn-primary mb-3 mx-3">ログアウト</a>
  <div class="card mt-4">
    <div class="card-body">
      {% for msg in errors %}
      <div id="error-message" class="text-danger mb-3">{{ msg }}</div>
      {% endfor %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>カテゴリ</th>
            <th>タスク名</th>
            <th>期日</th>
            <th>ステータス</th>
            <!-- <th>アクション</th> -->
          </tr>
        </thead>
        <tbody>
          {% for todo in tasks %}
          <tr>
            <td>{{ todo.category }}</td>
            <td><a href="{% url 'detail' todo.id %}">{{ todo.task }}</a></td>
            <td>{{ todo.due_date|date:"Y年m月d日" }}</td>
            <td>
              <a href="{% url 'complete_task' todo.id %}" class="btn btn-success">完了</a>
            </td>
            <!-- <td><a href="#" class="btn btn-success">完了</a></td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- ページネーションエリア -->
  {% include 'todo/components/pagination.html' %}
</div>

{% endblock %}